<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<table>
    <thead>
        <tr>
            <th> Name </th>
            <th> Timestamp </th>
            <th> Revenue </th>
            <th> CustomData </th>
        </tr>
    </thead>
    <tbody>
    <tr th:if="${events.empty}">
            <td colspan="2"> No Events Available </td>
        </tr>
        <tr th:each="event : ${events}">
            <td><span th:text="${event.name}"> Name </span></td>
            <td><span th:text="${event.timestamp}"> Timestamp </span></td>
            <td><span th:text="${event.revenue}"> Revenue </span></td>
            	<tr th:each="instance : ${event.customData.instanceMap}">
				    <td th:text="${instance.key}">key</td>
				    <td th:text="${instance.value}">value</td>
				</tr>
        </tr>
    </tbody>
</table>
</body>
</html>